@model DAL.Models.LPR

@{
	ViewBag.Title = "Информация о ЛПР";
}

<dl class="dl-horizontal">
	@Html.CustomDisplayNameFor(model => model.Name)

	@Html.DisplayFor(model => model.Name)

	@Html.CustomDisplayNameFor(model => model.Range)

	@Html.DisplayFor(model => model.Range)

</dl>

<button class="btn btn-danger" id="delete-item" type="button" data-deletelink="@Url.Action("Delete", new {id = Model.Id})">Удалить ЛПР</button>
<a class="btn btn-success" id="edit-item" href="@Url.Action("Manage", new {id = Model.Id})">Редактировать ЛПР</a>