@model DAL.Models.Alternative

@{
	ViewBag.Title = "Информация об альтернативе";
}

<dl class="dl-horizontal">
	@Html.CustomDisplayNameFor(model => model.Name)

	@Html.DisplayFor(model => model.Name)
	
	@foreach (var mark in Model.Vectors)
	{
		@Html.CustomDisplayNameFor(mark.Mark.Criterion.Name)

		@Html.DisplayFor(model => mark.Mark.Name)
	}

</dl>

<button class="btn btn-danger" id="delete-item" type="button" data-deletelink="@Url.Action("Delete", new {id = Model.Id})">Удалить альтернативу</button>
<a class="btn btn-success" id="edit-item" href="@Url.Action("Manage", new {id = Model.Id})">Редактировать альтернативу</a>