@model DAL.Models.Alternative

@{
	ViewBag.Title = "Информация об альтернативе";
}

<dl class="dl-horizontal">
	<dt>
		@Html.DisplayNameFor(model => model.Name)
	</dt>

	<dd>
		@Html.DisplayFor(model => model.Name)
	</dd>
	
	@foreach (var mark in Model.Vectors)
	{
		<dt>
			@Html.DisplayName(mark.Mark.Criterion.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => mark.Mark.Name)
		</dd>
	}

</dl>

<button class="btn btn-danger" id="delete-item" type="button" data-deletelink="@Url.Action("Delete", new {id = Model.Id})">Удалить альтернативу</button>
<a class="btn btn-success" id="edit-item" href="@Url.Action("Manage", new {id = Model.Id})">Редактировать альтернативу</a>